.input {
  color: #34312D;
  box-sizing: border-box;
  width: 100%;
}

.option {
  font-weight: 500;
  display: block;
  transition-duration: 0.5s;
  cursor: pointer;
  border: 1px solid #312e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: #e3dac9;
  color: #34312D;
  border-radius: 5px;
  max-width: 300px;
}

.ddDiv {
  min-width: 25%;
  text-overflow: wrap;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #34312D;
  position: absolute;
  max-height: 50%;
  overflow-y: scroll;
}
